
.container { 
	width: 970px !important;
	max-width: 970px !important;
	min-width: 970px !important;
}


.page-header { margin: 10px 0 10px 0; }

.page-header .pull-right { margin: 17px 0 0 0;}

.bf {
	padding: 10px;
	background-color: #FFF;
	border: solid 1px #DDD;
	border-radius: 4px;
}

.details {
	padding: 10px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

fieldset {
	padding: 0 10px;
	margin-bottom: 15px;
	background-color: #FFF;
	border: solid 1px #DDD;
	border-radius: 4px;
}

legend {
  width: auto;
  border: none;
  padding: 0;
  margin: 0;
  font-size:100%;

}
  
.inline-control {
	width: auto;
}

#artifact {
  /* Note: display:none on the input won't trigger the click event in WebKit.
    Setting visibility: hidden and height/width:0 works great.*/
  visibility: hidden;
  width: 0;
  height: 0;
}
#fileSelect {
  /* style the button any way you want */
}

#fileName {
	height: 30px;
	width: 300px;
}